body {
    margin:0;     /* This is used to reset any browser-default margins */
    height:100vh; /* This is needed to overcome a Chrome bug. */
    width:100vw;  /* As above. */
    background-image: url("http://pearldrum.com/common/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.title-block {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 10vh;
    margin-top: -5vh;
    margin-left: -10vw;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-align: center;
}

.outer-box {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    //border: 1px solid black;
    float: left;
}

.inner-box {
    width: 16vw;
    height: 8vh;
    background-color: #333333;
    opacity: 0.8;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

#bottom-left span {
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-right span{
    position: absolute;
    bottom: 0;
    right: 0;
}

#top-left {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
}

#top-right {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottom-left {
    text-align: left;
    vertical-align: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#bottom-right {
    text-align: right;
    vertical-align: text-bottom;
    position: absolute;
    top: 0;
    left: 0;
}

#test-content {
    display: none;
    color: white;
}
    


h1 {
    font-family: "Verdana";
    font-size: 1em;
}